<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>DHRCC</title>
  </head>
  <body>
    <div class="container">
      <div class="pad-bottom pad-top">
        <img
          src="../img/Logo.png"
          class="img-fluid"
          style="width: 80px"
          alt="logo"
        />
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2 class="light-blue font-weight-bold">Get Started</h2>
          <div class="form-froup">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Email" />
          </div>
          <div class="form-froup my-3">
            <label>Password</label>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
            />
          </div>
          <div class="form-froup my-3">
            <label>Comfirm Password</label>
            <input
              type="password"
              class="form-control"
              placeholder="Comfirm Password"
            />
          </div>
          <div class="form-group">
            <a
              href="login.html"
              class="btn text-light btn-green font-weight-bold pad-button"
              >Register</a
            >
          </div>
          <p>
            Already a member ?
            <a href="login.html"> Go and log in </a>
          </p>

          <div class="row mb-3">
            <div class="col-md-5 pr-0"><hr class="login-hr" /></div>
            <div class="col-md-2 text-center"><span>or</span></div>
            <div class="col-md-5 pl-0"><hr class="login-hr" /></div>
          </div>

          <div>
            <div>
              <button class="border btn btn-block">
                <i class="fab fa-google"></i>
                <span class="light-blue font-weight-bold pad-G-logo"
                  >Signin with Google</span
                >
              </button>
              <button class="border btn btn-block">
                <i class="fab fa-facebook-f"></i>
                <span class="light-blue font-weight-bold pad-fb-logo"
                  >Signin with Facebook</span
                >
              </button>
              <button class="border btn btn-block">
                <i class="fab fa-linkedin-in"></i>
                <span class="light-blue font-weight-bold pad-lnk-logo"
                  >Signin with Linkedin</span
                >
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img
            src="../img/undraw_superhero_kguv.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
